

h1 {
    font-family: "Papyrus", fantasy;
    color: tan;
    size: 27.5px;
}

h2 {
    font-family: "Lucida Console", "Courier New", monospace;
    color: tan;
    size: 24.75px;
}

p {
    font-family: "Times New Roman", serif;
    font-weight: 300;
    background-color: tan;
}

img {
    height: auto;
    width: 321px;
}